:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: var(--font-family);
  --heading-font-family: var(--font-family);
  --strong-font-family: var(--font-family);
  --em-font-family: var(--font-family);
  --quote-font-family: var(--font-family);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
    url("../fonts/mona-sans.woff2") format("woff2 variations"),
    url("../fonts/mona-sans.ttf") format("truetype");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
